<div class="container mt-3 mb-3">
    <div class="card">
        <div class="card-header">Now playing</div>
        <div class="card-body">
            <h5 class="card-title">{{ data.title }}</h5>
            <p class="card-text">Listening: {{ data.listeners }}</p>
        </div>
    </div>
</div>
{% with artist_data = data.artist_data %}
    <div class="container mb-3">
        <div class="card-columns">
            {% for artist in data.artist_data %}
                <div class="card">
                    <div class="card-header">About the artist</div>
                    <div class="card-body">
                        <h5 class="card-title{{ ' mb-0' if not artist.profile }}">
                            <a href="{{ artist.uri }}" target="_blank">{{ artist.name }}</a>
                        </h5>
                        {% if artist.profile %}
                            <p class="card-text">{{ artist.profile_html|truncate|safe }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if artist.get('images', [])|length > 0 %}
                    {% with img = artist.get('images', []).pop(0) %}
                        {% if img %}
                            <div class="card">
                                <img class="card-img" src="{{ img.uri }}" alt="{{ artist.name }}">
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}
                {% if artist.urls %}
                    <div class="card">
                        <div class="card-header">Follow them elsewhere</div>
                        <ul class="list-group list-group-flush">
                            {% for title, url in artist.urls.items() %}
                                <li class="list-group-item">
                                    <a href="{{ url }}" target="_blank">{{ title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if artist.get('images', [])|length > 1 %}
                    {% with img = artist.get('images', []).pop(0) %}
                        {% if img %}
                            <div class="card">
                                <img class="card-img" src="{{ img.uri }}" alt="{{ artist.name }}">
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}
                {% if artist.get('images', [])|length > 2 %}
                    {% with img = artist.get('images', []).pop(0) %}
                        {% if img %}
                            <div class="card">
                                <img class="card-img" src="{{ img.uri }}" alt="{{ artist.name }}">
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endwith %}
