<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32343386-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-32343386-5');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ app_description }}" />
        <meta name="og:description" content="{{ app_description }}">
        <meta name="og:image" content="{{ app_url ~ '/static/banner.jpg' }}">
        <meta name="og:title" content="{{ app_title }}">
        <meta name="og:type" content="music.radio_station">
        <meta name="og:url" content="{{ app_url }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.plyr.io/3.3.7/plyr.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ app_title }}</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ app_url }}">{{ app_title }}</a>
        </nav>
        <img class="img-fluid banner" src="{{ url_for('static', filename='banner.jpg') }}" alt="The Midnight Athletics studio" />
        {% with messages = get_flashed_messages(with_categories=True) %}
            <div class="container">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
            </div>
        {% endwith %}
        {% block body %}{% endblock %}
        <nav class="navbar fixed-bottom navbar-light bg-light justify-content-center">
            <audio id="player" controls>
                <source src="http://midnightathletics.com:8000/stream.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
        </nav>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.plyr.io/3.3.7/plyr.js"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
